[submodule "repos/meta-fetch-ai"]
	path = repos/meta-fetch-ai
	url = git@github.com:bcis93/meta-fetch-ai.git
[submodule "repos/poky"]
	path = repos/poky
	url = git://git.yoctoproject.org/poky
	branch = dunfell
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = dunfell
